<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="controllertest.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl" ng-init="quantity=100;price=5">
        名：<input type="text" ng-model="firstName"/><br/>
        姓：<input type="text" ng-model="lastName"/><br/>
        姓名：{{fullName()}}<br/>
        大写姓名:{{fullName()|uppercase}}
        小写姓名:{{fullName()|lowercase}}<br/>
        数量：<input type="number" ng-model="quantity"/><br/>
        价格：<input type="number" ng-model="price"/><br/>
        <p>总价 = {{ (quantity * price) | currency }}</p>
        元素名调用自定义指令：<runoob-directive></runoob-directive>
        属性调用自定义指令：<div runoob-directive></div>
        类名调用自定义指令：<div class="runoob-directive"></div>
        验证输入的格式：
        <form name="myForm">
            Email:
                <input type="email" name="myAddress" ng-model="text">
                <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
        </form>
        应用状态：
        <form name="myForm" ng-init="myText = 'test@runoob.com'">
                Email:
                <input type="email" name="myAddress" ng-model="myText" required></p>
                <h1>状态</h1>
                valid:{{myForm.myAddress.$valid}}
                dirty:{{myForm.myAddress.$dirty}}
                touch:{{myForm.myAddress.$touched}}
        </form>
        <button ng-click="sayHello()">点我</button>
        {{greeting}}
        <br/>
        当前页面的url:{{myUrl}}
        <br/>
        <button ng-click="welcome()">欢迎</button>
        {{myWelcome}}
        {{result}}
    </div>


</body>
</html>