<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="event.js"></script>
</head>
<body>
<div ng-app="myEvent" ng-controller="personCtrl">

    <button ng-click="count = count + 1">点我！</button>

    <p>{{ count }}</p>

    <button ng-click="toggle()">显示/隐藏</button>

    <p ng-hide="myVar">
        Hello World;
    </p>

</div>

</body>
</html>