<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="service.js"></script>
</head>
<body>
    <div ng-app="myService" ng-controller="serviceCtrl">
        每秒都更新时间：{{theTime}}<br/>
        将255转换为16进制， 使用自定义的服务：{{hex}}<br/>
        <select ng-init="selectedName = names[0]" ng-model="selectedName" ng-options="x for x in names">
        </select>
        <select>
            <option ng-repeat="x in names">{{x}}</option>
        </select>
        <br/>
        <select ng-model="selectedSite">
            <option ng-repeat="x in sites" value="{{x.url}}">{{x.site}}</option>
        </select>
        <h1>你选择的是: {{selectedSite}}</h1>
        <br/>
        <select ng-model="selectedSite" ng-options="x.site for x in sites">
        </select>

        <h1>你选择的是: {{selectedSite.site}}</h1>
        <p>网址为: {{selectedSite.url}}</p>

        <br/>
        <select  ng-model="selectedCar" ng-options="y.brand for (x, y) in cars" >
        </select>
    </div>

</body>
</html>